.movieRow {
  margin-bottom: 30px;
}

.movieRow h2 {
  margin: 0px 0px 0px 30px;
}

.movieRow--listarea {
  overflow-x: hidden;
}

.movieRow--list {
  width: 99999999px;
}

.moviRow--item {
  display: inline-block;
}
